@import "./Variables.scss";

.cards {
  position: absolute;
  overflow: hidden;
  outline: 0;
  margin: 0;
  padding: 0;
  border: $grid_border;

  .cards-main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    outline: 0;
    margin: 0;
    padding: 0;
  }

  &:focus {
    border: $grid_focused_border;
  }
}

.cards-premium {
  .cards-main {
    background-color: $grid_main_bg;
    border-radius: 4px;
  }

  &:focus {
    border: $grid_filterbar_input_focused_border;
    box-shadow: $grid_focused_shadow;
  }
}
