@import "../common/PredefinedMixins.scss";
@import "../mobilebrowser/DatePickerCalendar.module.scss";
@import "./partial.scss";
@import "./Variables.scss";

.container {
    &:focus-visible {
        @include focus($outline-offset: -2px,
            $outline-width: 2px,
            $box-shadow: none,
            $border-radius: 5px,
        );
    }
}