@import "./Loader.module.scss";
@import "../common/PredefinedMixins.scss";
@import "./Variables.scss";

.drag-container {
  @include partial-column-center;
  color: $drop_zone_text_fg;
  position: fixed;
  background-color: $drop_zone_bg;
  visibility: hidden;
  z-index: 200002;
  opacity: 0.9;
  font-size: 24pt;
  outline: 2px dashed $drop_zone_outline_fg;
  outline-offset: -10px;
  &.show {
    visibility: initial;
  }
  .information {
    margin: 0;
  }
}
