@import "../common/PredefinedMixins.scss";
@import "./partial.scss";
@import "./Variables.scss";

.ftab {
  @include partial-row-center;
  min-width: 116px;
  height: 100%;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: $folder_tab_item_fg;
  cursor: pointer;

  &.ftab-ac {
    border-radius: 8px;
    background: $folder_tab_item_ac_bg;
    color: $folder_tab_item_ac_fg;
  }
}