@import "../common/PredefinedMixins.scss";
@import "./partial.scss";
@import "./Variables.scss";

.grid-viewport {
  @include partial-box-sizing;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: $grid_viewport;
}