@import "./Variables.scss";

.gh-resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 8px;
  margin: 2px;
  cursor: col-resize;
  z-index: 1;

  &.resizerOver {
    background-color: $grid_row_focused_bg;
  }
}

.pulse {
  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $grid_header_pulse_bg;
    animation: pulsate 1.2s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    box-shadow: $grid_header_pulse_shadow;
    animation-delay: 0.2s;
  }

  @keyframes pulsate {
    0% {
      transform: scale(0.1, 1);
      opacity: 0;
    }

    50% {
      transform: scale(1, 1);
      opacity: 1;
    }

    100% {
      transform: scale(0.1, 1);
      opacity: 0;
    }
  }
}