@import "../common/PredefinedMixins.scss";
@import "./partial.scss";
@import "./Variables.scss";

.lo-con {
  width: 100%;
  height: 100%;
}

.lo-v-con {
  width: 100%;
  height: 100%;
  @include flexDisplay();
  @include flexWrap(nowrap);
  @include flexDirection(column);
  @include flexJustifyContent(flex-end, flex-end);
  @include flexAlignItems(flex-start, flex-start);
  @include flexAlignContent(stretch, stretch);
}

.lookup .menu-content {
  @include partial-box-shadow;
  top: $window_top_margin;
  min-height: 120px;
  max-height: calc(100% - 56px);
  overflow-y: auto;
}

.auto-con {
  border: none;
  box-shadow: unset;
}

.editor-lookup {
  position: relative;
  width: 100%;
  height: 100%;
}