/* PREDEFINED COLORS */
$white: rgb(255, 255, 255);

$lightGray: rgb(208, 208, 208);
$lightGray2: rgb(213, 213, 213);
$lightGray3: rgb(187, 187, 187);
$lightGray4: rgb(172, 172, 172);

$verylightGray: rgb(242, 242, 242);
$verylightGray2: rgb(224, 224, 224);
$verylightGray4: rgb(234, 234, 234);
$verylightGray5: rgb(229, 229, 229);
$verylightGray6: rgb(193, 193, 193);
$verylightGray7: rgb(245, 245, 245);

$darkGray: rgb(140, 140, 140);
$darkGray2: rgb(128, 128, 128);
$verydarkGray: rgb(70, 70, 70);
$verydarkGray2: rgb(95, 95, 95);

$darkGreen: rgb(27, 94, 32);
$darkGreen3: rgb(100, 146, 0);

$pureBlack: rgb(0, 0, 0);
$mostlyBlack: rgb(45, 45, 45);
$strongYellow: rgb(200, 200, 50);
$strongOrange: rgb(255, 152, 0);
$strongRed: rgb(220, 20, 0);
$strongGreen: rgb(60, 130, 50);
$strongBlue: rgb(0, 178, 238);

$mostlydesaturateddarkBlue: rgb(94, 134, 152);
$lightdesaturateddarkBlue: rgba(120, 170, 195, 0.85);
$verypaleYellow: rgb(255, 250, 208);

$vividBlue: rgb(34, 34, 255);
$vividLimeGreen: rgb(34, 255, 34);
$vividOrange: rgb(255, 165, 34);
$vividRed: rgb(255, 34, 34);

$palette_premium_blue: rgb(59, 134, 255);
$palette_premium_green: rgb(61, 207, 120);
$palette_premium_gray: rgb(66, 82, 109);
$palette_premium_orange: rgb(255, 157, 0);
$palette_premium_red: rgb(214, 36, 77);
$palette_premium_turquise: rgb(66, 210, 212);

$palette_premium_darkgreen: rgb(43, 157, 31);
$palette_premium_lightgray: rgb(229, 233, 243);