/* MOON THEME COLORS */
$moon_desaturated-gray: rgb(127, 133, 163);
$moon_dark-blue: rgb(62, 104, 215);
$moon_blue: rgb(130, 170, 255);
$moon_sky-blue: rgb(101, 188, 255);
$moon_cyan: rgb(134, 225, 252);
$moon_red: rgb(255, 117, 127);
$moon_dark-red: rgb(255, 83, 112);
$moon_light-red: rgb(255, 152, 164);
$moon_yellow: rgb(255, 199, 119);
$moon_orange: rgb(255, 150, 108);
$moon_dark-orange: rgb(252, 123, 123);
$moon_teal: rgb(79, 214, 190);
$moon_green: rgb(195, 232, 141);
$moon_purple: rgb(192, 153, 255);
$moon_pink: rgb(252, 167, 234);
$moon_indigo: rgb(122, 136, 207);
$moon_indigo_light: rgb(162, 177, 255);
$moon_bright-cyan: rgb(180, 249, 248);

$moon_gray-10-alt: rgb(188, 196, 214);
$moon_gray-10: rgb(200, 211, 245);
$moon_gray-9: rgb(180, 194, 240);
$moon_gray-8: rgb(169, 184, 232);
$moon_gray-7: rgb(130, 139, 184);
$moon_gray-6: rgb(68, 74, 115);
$moon_gray-5: rgb(47, 51, 77);
$moon_gray-4: rgb(34, 36, 54);
$moon_gray-3: rgb(30, 32, 48);
$moon_gray-2: rgb(25, 26, 42);
$moon_gray-1: rgb(6, 6, 7);