
@font-face {
  font-family: "ROBOTO";
  src: url("/assets/fonts/Roboto-Regular.ttf") format('truetype');
  font-display: fallback;
  font-weight: 400;
}

@font-face {
  font-family: "ROBOTO";
  src: url("/assets/fonts/Roboto-Light.ttf") format('truetype');
  font-display: fallback;
  font-weight: 300;
}

@font-face {
  font-family: "ROBOTO";
  src: url("/assets/fonts/Roboto-Medium.ttf") format('truetype');
  font-display: fallback;
  font-weight: 500;
}

@font-face {
  font-family: "ROBOTO";
  src: url("/assets/fonts/Roboto-Bold.ttf") format('truetype');
  font-display: fallback;
  font-weight: 700;
}

@font-face {
  font-family: "FiraSansLight";
  src: url("/assets/fonts/FiraSans-Light.ttf") format('truetype');
  font-display: fallback;
}

@font-face {
  font-family: "FiraSansLightItalic";
  src: url("/assets/fonts/FiraSans-LightItalic.ttf") format('truetype');
  font-display: fallback;
}

@font-face {
  font-family: "FiraSansMedium";
  src: url("/assets/fonts/FiraSans-Medium.ttf") format('truetype');
  font-display: fallback;
}

@font-face {
  font-family: "SourceSans";
  src: url("/assets/fonts/SourceSansPro-Regular.ttf") format('truetype');
  font-display: fallback;
}

@font-face {
  font-family: "FiraSans";
  src: url("/assets/fonts/FiraSans-Regular.ttf") format('truetype');
  font-display: fallback;
}

@font-face {
  font-family: "FiraSansItalic";
  src: url("/assets/fonts/FiraSans-Italic.ttf") format('truetype');
  font-display: fallback;
}

@font-face {
  font-family: "FiraSansMedium";
  src: url("/assets/fonts/FiraSans-Medium.ttf") format('truetype');
  font-display: fallback;
}

@font-face {
  font-family: "SourceSans";
  src: url("/assets/fonts/SourceSansPro-Regular.ttf") format('truetype');
  font-display: fallback;
}

@font-face {
  font-family: "SourceSansLight";
  src: url("/assets/fonts/SourceSansPro-Light.ttf") format('truetype');
  font-display: fallback;
}

@font-face {
  font-family: "SourceSansSemiBold";
  src: url("/assets/fonts/SourceSansPro-SemiBold.ttf") format('truetype');
  font-display: fallback;
}

@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Regular.ttf") format('truetype');
  font-display: fallback;
}

@font-face {
  font-family: "LatoItalic";
  src: url("/assets/fonts/Lato-Italic.ttf") format('truetype');
  font-display: fallback;
}

@font-face {
  font-family: "LatoBold";
  src: url("/assets/fonts/Lato-Bold.ttf") format('truetype');
  font-display: fallback;
}